<h1>Edit Note</h1>

<%= form_with model: @note do |form| %>

<%= render "form", form: form, note: @note %>

  <br>

  <div class="form-group">
    <%= link_to "Cancel", notes_path(@note), class: 'btn btn-info btn-sm' %>
    <%= form.submit class: 'btn btn-warning btn-sm'%>
    <%= form.check_box :preview %>
    <%= form.label :preview, "Preview" %>

  </div>
<% end %>