<div class="flex-container">
  <div>
    <%= link_to 'New Note', new_note_path, class: 'btn btn-warning btn-sm' %>
  </div>
  <div>
    <%= form_tag "/notes", method: "GET" do %>
      <%= text_field_tag :search_string, params[:search_string], value: session[:search_string] %>
      <%= hidden_field_tag :is_submit, value: "true" %>
      <%= submit_tag "Search", class: 'btn btn-info btn-sm' %>
    <% end %>
  </div>
</div>
<div>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

<%= paginate @notes %>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
      
        <td nowrap="nowrap"> <%= note.display_at.strftime('%a %m/%d/%Y') %></td>
        <td><%= note.text %></td>
        <td><%= link_to show_svg('eye-fill.svg'), note %></td>
        <td><%= link_to show_svg('pencil-fill.svg'), edit_note_path(note) %></td>
        <td><%= link_to show_svg('trash-fill.svg'), note, method: :delete, data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                  } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @notes %>

<br>
