<div>
<h1>Notes <%= link_to "New Note", new_note_path %> </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
      
        <td nowrap="nowrap"> <%= note.created_at.strftime('%a %m/%d/%Y') %></td>
        <td><%= note.text %></td>
        <td><%= link_to 'Show', note, class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Edit', edit_note_path(note), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                  }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>