<h1>Note:</h1>
<p><%= @note.display_at.strftime('%a %m/%d/%Y %l:%M %p') %></p>
<p><%= @note.text %></p>
<p><%= @note.detail %></p>

<ul>
  <li>
    <%= link_to "Destroy", note_path(@note), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                  } %>
  </li>
  <li>
    <%= link_to "Update", edit_note_path(@note) %>
  </li>
  <li>
    <%= link_to "Back to Notes list", notes_path(@note) %>
  </li>
</ul>